@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap');
@import './colours';

@mixin header($size) {
    font-family: 'Raleway', sans-serif;
    @if $size == normal {
        font-size: 1.5em;
        font-weight: 700;
    } @else if $size == big {
        font-size: 2em;
        font-weight: 700;
    } @else if $size == biggest {
        font-size: 3em;
        font-weight: 900;
    }
}

h1 {
    @include header(biggest);
}

h2 {
    @include header(big);
}

h3 {
    @include header(normal);
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a {
    color: $spotify-white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;

    &:hover {
        text-decoration: underline;
    }
}
